## impedisce la lettura del file .htaccess all'esterno del server
## e anche dei file _htaccess
<Files ~ "^[\._]ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>
## e anche dei file was_*
<Files ~ "^was">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>
## e anche dei file _config e altri
<Files ~ "^_co">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

# BEGIN WordPress
# Le direttive (linee) tra "BEGIN WordPress" e "END WordPress" sono
# generate dinamicamente, e dovrebbero essere modificate solo tramite i filtri di WordPress.
# Ogni modifica alle direttive tra questi marcatori verrà sovrascritta.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /man/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /man/index.php [L]
</IfModule>

# END WordPress
